$white: #FFFFFF;
$cq-green: #116246;
$cq-grey: #EDEDED;
$cq-black: #252525;

.cq {
  header#masthead {
    background-color: $cq-green;
    padding-top: 16px;
    color: $white;
    position: static;

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      width: 100%;

      li {
        float: right;
        font-family: 'Nunito', sans-serif;
        font-size: 21px;
        margin: 0 10px;

        a {
          color: $white;
          transition: color 0.4s ease;
          text-decoration: none;

          &:hover {
            color: $cq-black;
            text-decoration: none;
          }
        }
      }
    }
  }

  .site-content-contain {
    padding-top: 0;
  }

  .footer {
    background-color: $cq-grey !important;
    font-family: 'Nunito', sans-serif;
    padding-top: 32px;
    margin-top: 64px;
    padding-bottom: 8px;

    p {
      margin-bottom: 2px;
      font-weight: bold;
      color: $cq-black;

      &.copyright {
        color: #a0a09f;
      }
    }
  }

  div.enroller-widget a.ui-btn-active.ui-btn,
  div.enroller-widget div.ui-btn-active.ui-btn,
  div.enroller-widget button.ui-btn-active.ui-btn,
  div.enroller-widget li.ui-btn-active.ui-btn,
  div.enroller-widget-popup li.ui-btn-active.ui-btn,
  div.enroller-widget-popup div.enroller-field-holder .enroller-save-button {
    background-color: $cq-green;
    border-color: $cq-green;
  }

  div.enroller-widget button.ui-btn-active.ui-btn {
    &:hover {
      background-color: darken($cq-green, 10%) !important;
      border-color: darken($cq-green, 10%) !important;
      color: $white !important;
    }
  }

  div.enroller-widget div.enroller-step-menu .ui-btn.ui-btn-active {
    border-left-color: $cq-green;

    &:hover {
      border-left-color: darken($cq-green, 10%) !important;
    }
  }
}