/*

    Colorbox Core Style:

    The following CSS is consistent between example themes and should not be altered.

*/

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999999; overflow:hidden;}

#cboxWrapper {max-width:none;}

#cboxOverlay{position:fixed; width:100%; height:100%;}

#cboxMiddleLeft, #cboxBottomLeft{clear:left;}

#cboxContent{position:relative;}

#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}

#cboxTitle{margin:0;}

#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}

.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}

#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}



/* 

    User Style:

    Change the following styles to modify the appearance of Colorbox.  They are

    ordered & tabbed in a way that represents the nesting of the generated HTML.

*/

#cboxOverlay{background:#000; opacity: 1 !important;}

#colorbox{outline:0; border-radius: 14px;}

    	.cboxIframe html{margin-top:0px !important;}

		#cboxContent{background:#fff; overflow:hidden;}

        .cboxIframe{background:hsl(0, 0%, 0%);}

        #cboxError{padding:50px; border:1px solid #ccc;}

        #cboxLoadedContent{margin-bottom:0px;}

        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}

        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}

        #cboxLoadingOverlay{background:hsl(0, 0%, 0%) url(../images/loading.gif) no-repeat 5px 5px;}



        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */

        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

        

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */

        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}



        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}

        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}

        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}

        #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}



/*

  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill

  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.

  See: http://jacklmoore.com/notes/ie-transparency-problems/

*/

.cboxIE #cboxTopLeft,

.cboxIE #cboxTopCenter,

.cboxIE #cboxTopRight,

.cboxIE #cboxBottomLeft,

.cboxIE #cboxBottomCenter,

.cboxIE #cboxBottomRight,

.cboxIE #cboxMiddleLeft,

.cboxIE #cboxMiddleRight {

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);

}

#colorbox #cboxTopLeft,

#colorbox #cboxTopCenter,

#colorbox #cboxTopRight,

#colorbox #cboxBottomLeft,

#colorbox #cboxBottomCenter,

#colorbox #cboxBottomRight,

#colorbox #cboxMiddleLeft,

#colorbox #cboxMiddleRight{
    width:0;
    height:0;
    background:none !important;
}
.contact_popup #cboxContent{border-radius:10px;}
.contact_popup #cboxContent{height: 650px !important;}
.contact_popup .cross-button::after{
    left: 86%;
}
.shop_contact_popup .cross-button::after{
    left: 90%;
}
.shop_contact_popup .button.cross-button{
    padding: 11px 24px 10px;
}
.contact_popup .cross-button,.contact_popup .gform_footer .gform_button{
    background:#DA1E32;
}
a.book_now.small{color:#FFFFFF;}
.contact_popup .gform_footer .gform_button::after{
    width: 40px;
}
.contact_popup .gform_footer .button.cross-button{
    padding: 10px 20px;
}


#contact_popup .gform_wrapper.contact-form_wrapper, .contact_popup .gform_wrapper.contact-form_wrapper {
    height: 565px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#contact_popup .gform_footer {
    position: relative;
}