
/*--------- For Large Desktop Device -----------*/

@media only screen and (min-width:1370px){
	.call-top::after {width: 21%; }
}



/* 1440 to 1599 */

@media only screen and (min-width:1440px){
	.call-top::after{width: 24%;}
	.logo-sec::after {width: 28%;}
	.site-branding.site-navigation-fixed .logo-sec::after {height: 68px;}
	.menu-top-menu-container .menu{width: 100%;margin: 0 auto;}
}



/* 1600 to 1679 */

@media only screen and (min-width:1600px){

	.call-top::after{width: 26%;}
	.logo-sec::after {width: 30%;}
	.call-top::after {width: 28%; }
	

}



/* 1680 to 1919 */

@media only screen and (min-width:1680px){
	.call-top::after{width: 30%;}
	.logo-sec::after {width: 33%;}
}



/* 1920 to 2049 */

@media only screen and (min-width:1920px){
	.logo-sec::after {width: 34%;}
	.call-top::after{width: 31%;}
}



/* 2050 to 2559 */

@media only screen and (min-width:2050px){

	.logo-sec::after {width: 36%;}
	.call-top::after{width: 34%;}
}



/* Greater than 2560*/

@media only screen and (min-width:2560px){

	.logo-sec::after {width: 38%;}
	.call-top::after{width: 34%;}
	
}





/*--------- For Tablate and Small Desktop Device -----------*/


/* For 1280 or Up to 1365 */

@media only screen and (max-width:1300px){

	.banner_content h1 {font-size: 40px;line-height: 42px;}

	.banner_content {top: 165px;}

	.menu-mobile-menu-container {padding: 20px 100px;}
	
	.header-overlap h1 {font-size: 40px;line-height: 42px;}
	
	.section4 .section4-image {width: 53%;}	
	.section4 .section4-content {width: 47%;}

}



/* For 1024 or Up to 1279 */

@media only screen and (max-width: 1024px) {
	.main-navigation #top-nav > li > a { font-size: 13px; }
}

@media only screen and (max-width:1279px){
	
	.custom-logo-link img, body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {max-width: 200px;}

	.scontent h2, .scontent h3 {font-size: 25px;}

	.realresponse-front-page.page-one-column #what-makes-us-different .entry-header {margin-bottom: 30px;}
	#what-makes-us-different .panel-content {padding: 30px 0;}

	#what-makes-us-different .panel-content.pcontent_right {padding: 20px 0;}

	.page .panel-content .entry-title, .page-title, body.page:not(.realresponse-front-page) .entry-title {font-size: 35px;}

	.make_box {line-height: 28px;padding: 15px;}

	.realresponse-panel {padding: 40px 0 40px;}
	
	.tlist-right .tlist h3 {
		font-size: 21px;
	}
	.tlist-left h3 {
		font-size: 27px;
	}
	.reason .right {
		width: 91%;
	}
	.coursebox {
		margin-bottom: 12px;
		width: 32%;
		overflow: hidden;
	}
	.main-navigation ul ul a {
		margin-right: 48px;
	}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area h2{font-size: 28px;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area h4{font-size:23px;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area h4{min-height: 100px;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area .warden-box{min-height: 75px;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area{min-height: 385px;}
	.page-id-4582 .banner-content, .page-template-page-speciality .banner-content, .page-template-page_security .banner-content{
		height: calc(100% - 175px);
	}
	.rrspec_how_do .learn_more{padding-bottom: 15px;}
	.make_box{min-height: 318px;}
	.rrspeciality-only .rrspeciality .rraccordion_area_box .rraccordion_area h4{min-height: 122px;}
	.section9{padding:0;}
	.entry-content .scontent h2, .entry-content .scontent h3{min-height: 60px;}
	.frontpage .make_box{min-height: 360px;}
	.course-pages .most_popular_inner .item{min-height: 496px;}
	.page-template-page_firstaidcources .course-pages .most_popular_inner .item {
		min-height: 366px;
	}
	.most_popular_courses1 h3{font-size: 25px;line-height: 30px;}
	.most_popular_courses1 .item h4{min-height: 90px;}
	.most_popular_courses .items .item-inner{min-height:425px;}
	.how_inner .item .hover_layer, .faqs .hover_layer{background:none;}
	.pbox.cpr .header2{font-size: 35px;}
	.pbox.cpr.most_popular_inner .mpc_left h4{width:100%;}
	.additional_courses_inner .item h2{font-size: 30px;line-height: 33px;}
	.contact-rightbtm .address img{margin-left:30px;}
	.section.section9 .wrap .entry-title{display:none;}
	.page-template-booking .logo-sec::after{height:86px;}
	.js .navigation-mobile .toggled-on .menu-mobile-menu-container{padding: 60px 60px;}
	.main-navigation a {padding: 34px 1em;color: white;font-size: 16px;font-weight: 700;}
	.call-top::after {width: 21%;max-width: 200px}
}

@media only screen and (min-width: 1301px) {
	.featured-banner {
		height: 480px;
		background-color: #000000;
	}
}

@media only screen and (min-width: 1100px) {
	.home .featured-banner {
		height: calc(100vh - 100px);
	}

	.home .banner-content {
		bottom: 30px;
		height: calc(100% - 208px);
		display: flex;
		align-items: center;
	}

	.home .banner-content .wrap {
		height: inherit;
	}
}

@media only screen and (min-width: 767px) and (max-width: 960px) {
	.page-template-page_tecc_book .header-overlap .banner-content {
		bottom: 40px;
	}
}

/* For 960 or Up to 1023 */

@media only screen and (max-width:1023px){

	.site-branding.site-navigation-fixed .navigation-top .main-navigation a {padding: 0 10px;}

	.main-navigation a {padding: 36px 10px;}

	.custom-logo-link img, body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {max-width: 180px;}

	.ser_box {width: 49%;margin-bottom: 20px;margin-right: 1%;}

	.desc {min-height: 100px;}

	.make_box h3 {font-size: 25px;margin-bottom: 20px;}

	.group_b_icon {background-size: 25px;padding-right: 25px;}
	
	.header-overlap.course-banner h1 {
		font-size: 45px;
		line-height: 38px;
		margin-top: 10px;
	}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area h2{font-size: 26px;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area h4{min-height: 125px;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area h2{min-height: 75px;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area{min-height: 405px;}
	.rrspeciality-only .rrspeciality .rraccordion_area_box .rraccordion_area h4{min-height: 150px;}
	.rrspeciality-only .rrspeciality .rraccordion_area_box .rraccordion_area{min-height: 430px;}
	.course-pages .most_popular_inner .item{min-height: 510px;}
	.additional_courses_inner .item h2{font-size: 25px;}
	.rrsecurity .items .item-inner{min-height: 460px;}
	.rrsecurity .most_popular_inner .mpc_right{min-height: 292px;}
	.rr_acc_left img{max-width: 100%;margin: 0;}
	.rr_acc_right{padding-top: 0;}
	.rr_acc_right h2{margin-top:0;}
	.contact-left .gform_wrapper .gform_footer{float: left;}
	.contact_page.rrcontact .gform_wrapper .gform_footer{margin: 20px 0;}
	.contact-left .gform_wrapper .gform_footer{padding:1px;}
	.rrcontact .address a{width: 28px;}
	.header-overlap .banner-content.align-banner h1{font-size: 38px;}
	.align-main .banner-content{margin-top:100px;}
	.page-template-booking .site-branding .logo-sec img.custom-logo{max-width: 135px;} 
	.page-template-booking .logo-sec::after{height: 61px;}
	.page-template-booking .nav-menu > li > a{padding: 18px 13px 0;}
	.call-top::after{width: 21%;}
	.logo-sec::after{height: 93px;}
}



/* For 800 or Up to 959 */

@media only screen and (max-width:959px){

	.mpc_80 ul {
		column-count: 2;
	}

	.call-top::after {width: 29%;}

	.contact-us {display: none;}

	.main-navigation a {padding: 26px 10px;}

	.logo-sec::after {height: 77px;}
	
	.js .navigation-mobile .menu-toggle {padding-top: 12px;}

	.custom-logo-link img, body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {max-width: 150px;}

	.navigation-top .main-navigation ul ul a::after {right: -15px;}

	.main-navigation ul ul a {margin-right: 21px;}

	.panel-image.pimage_left, .panel-content.pcontent_right, .panel-content.pcontent_right, .footer-left {float: none;text-align: center;width: 100%;height: auto;}

	#what-makes-us-different .panel-image.pimage_left img {display: block;height: 500px;width: auto;max-width: auto;}

	.footer-right {float: none;width: 100%;}
	
	.header-overlap p a {
		margin-top: 30px;
	}
	.banner-content {
		bottom: 30px;
	}
	.header-overlap h1 {
		font-size: 31px;
		line-height: 38px;
	}
	.page.page-one-column .entry-header, .realresponse-front-page.page-one-column .entry-header, .archive.page-one-column:not(.has-sidebar) .page-header {
		margin-bottom: 20px;
	}
	.section2 {
		padding: 40px 0 30px;
	}
	.section2 .entry-content br,
	.section8 .entry-content br,
	.section-accreditation br{display:none;}
	.most_popular_inner .item {
		width: 100%;
		float: none;
	}
	.section4 .section4-image {
		width: 100%;
	}
	.section4 .section4-content {
	    padding: 30px 30px;
	}
	.section4 .section4-content {
		width: 100%;
	}
	.section-tecclevel1 .tl-img {
		width: 100%;
		margin-bottom:10px;
	}
	.section-tecclevel1 .tl-img img{width:100%;}
	.section-tecclevel1 .tl-content {
		width: 100%;
	}
	.tlist-left {
		width: 100%;
	}
	.tlist-right {
		width: 100%;
		padding:20px 25px;
	}
	.atma-logotext img{max-width:90%;}
		.reason .right {
		width: 88%;
	}
	.course-banner {
		padding-top: 162px;
	}
	.coursebox {
		width: 31%;
	}
	.rraccordion_area_col{width: 32%;margin-right: 2%;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area h2{font-size:25px;}
	.rrspec_how_do .section4-image img{width: 90%;margin: 10px 43px 10px 43px;}
	.make_box{min-height: 340px;}
	.copy-right-text{float: none;padding-bottom: 20px;}
	.most_popular_courses1 .item .item_cnt{min-height: 355px;}
	.course-pages .most_popular_inner .item{min-height: 550px;}
	.most_popular_inner .mpc_right{min-height: 420px;}
	.additional_courses_inner .item h2{font-size: 24px;line-height: 30px;}
	.rrsecurity .items .item-inner{min-height: 350px;}
	.page-template-page_tecc_book .banner-content{bottom: 70px;}
	.rrspec_how_do .section4-content{padding-bottom:30px;}
	.contact_page_inner .contact-left.gen_blk,.contact_page_inner .contact-right{width: 100%;}
	.rrcontact .address a{width: 40px;}
	.js .navigation-mobile .toggled-on .menu-mobile-menu-container{padding: 60px 40px;}
	#rfa_booking_form #top_controls .progress-bar{margin: 32px 0 8px;}
	.page-template-page-shop .enquire_btn_top.widget_text{top:30px;}
	.home .banner-content {bottom: 50px;}
}



/* For 768 or Up to 799 */

@media only screen and (max-width:799px){

	.js .site-branding.site-navigation-fixed .navigation-mobile .menu-toggle {padding-top:7px;}
	.header-overlap p a {
		margin-top: 10px;
	}
	.main-navigation ul ul a {
		margin-right: 15px;
	}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area h2{font-size: 24px;}
	.section9{padding:0;}
	.size-medium.wp-image-163.rrvirtual{margin: 15px !important;}
	.frontpage .ser_box .desc{min-height: 120px;}
	.frontpage .make_box{min-height: 415px;}
	.course-pages .most_popular_inner .item{min-height: 545px;}
	.most_popular_inner1 .header2{min-height: 80px;}
	.most_popular_courses1 .item h4{margin: 0 0 10px;}
	.most_popular_courses1 .item .item_cnt{min-height: 225px;}
	.most_popular_courses1 .item h4{min-height: 70px;}
	.pbox.cpr.most_popular_inner .item .mpc_left{width: 20%;}
	.cprbox .coursebox{width:48%;margin:5px;}
	.pbox.cpr .header2{font-size: 24px;line-height: 32px;}
	.contact_page_inner .contact-left.gen_blk{padding: 0 7%;}
	.woocommerce-page.post-type-archive ul.products{margin-left:0;}
	.js .navigation-mobile .toggled-on .menu-mobile-menu-container{padding: 60px 35px;}
	.home .banner-content {bottom: 20px;}
}





/*--------- For Tablate and Mobile Device -----------*/

@media only screen and (min-width: 768px) {
	.navigation-mobile #site-navigation {
		display: block;
		position: absolute;
		top: 2px;
		right: -35px;
		width: 32px;
		height: 32px;
	}

	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
		margin: 0 10px 20px 10px;
		width: calc(33.33333% - 20px);
	}
}

@media only screen and (min-width: 768px) and (max-width: 790px) {
	.main-navigation a {
		font-size: 14px;
	}
}


/* For 640 or Up to 767 */

@media only screen and (max-width:767px){
	.navigation-mobile #site-navigation {
		display: block;
		position: absolute;
		top: 2px;
		right: -35px;
		width: 100vw;
		height: 100vh;
		pointer-events: none;
	}
	
	.navigation-mobile #site-navigation button {
		pointer-events: auto;
	}

	.navigation-mobile #site-navigation.toggled-on {
		pointer-events: auto;
	}

	.custom-logo-link {padding-right: 0;}

	.logo-sec {width: 90%;padding: 0px 0;text-align: center;}

	.site-branding {
		position: fixed;
		width: 100%;
		top: 0;
		/*overflow: hidden;*/
	}

	.product_box .item {
		display: block;
	}

	.pbox.most_popular_inner.product_box .item h4 {
		min-height: 0;
	}

	.mpc_80, .mpc_50, .mpc_30, .mpc_20 {
		width: 100%;
		margin-right: 0;
	}

	.mpc_50, .mpc_30, .mpc_80 {
		margin-bottom: 16px;
	}

	.mpc_20 {
		text-align: center;
	}

	.site-branding.site-navigation-fixed .sticky-right { display: none; }

	.site-branding.site-navigation-fixed .logo-sec::after, .logo-sec::after {height: 60px;width: 80%;}

	.header-right {width: 10%;text-align: right;position: relative;z-index: 66;}

	.navigation-top, .heder-top, .header-bottom, #how-do-we-help .panel-image.pimage_left, .simage {display: none;}

	.custom-logo-link img, body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {max-width: 135px;}

	.js .navigation-mobile .menu-toggle {padding-top: 0;}

	.js .navigation-mobile .toggled-on .menu-mobile-menu-container {padding: 40px 40px;width: 100%;}

	.hidden_menu {display: block !important;}

	.main-navigation a {color: white;}

	#mob-nav li a {padding: 5px 0;}

	.main-navigation .social-links-menu li {border: 0;display: inline-block;}

	#top_banner .panel-image-prop {padding-top: 90% !important;}

	.panel-content.banner_content a {margin-top: 30px;}

	.banner_content {top: 220px;}

	.panel-content .entry-header {margin-bottom: 30px;}

	.desc {min-height: auto;}

	.scontent h2, .scontent h3 {margin-top: 0;}

	.ser_box {width: 100%;margin-bottom: 20px;margin-right: 0%;min-height: auto;}

	#what-makes-us-different .panel-image.pimage_left img {

    display: block;

    height: 700px;

	}

	.make_box {padding: 15px;width: 100%;margin-bottom: 30px;}

	.footer-box3, .footer-box2, .footer-box4 {width: 100%;margin-right: 0;text-align: center;}

	.widget_nav_menu li {position: relative;}

	.footer .menu-item-has-children svg.icon.icon-angle-down {display:none;}

	.custom-overlay::after {width: 0%;}

	#services {padding-bottom: 0;}
	.footer, #services {padding-bottom: 90px;}
	.page .panel-content .entry-title, .page-title, body.page:not(.realresponse-front-page) .entry-title {font-size: 30px;}
	.panel-content.pcontent_right {margin-left: 0;}
	.banner_content h6 {font-size: 12px;margin-bottom: 10px;}
	.make_box h3 {font-size: 20px;margin-bottom: 20px;}
	#what-makes-us-different .panel-content.pcontent_right {background: rgba(0,0,0,0.7);}
	.fbox.widget_nav_menu {border-bottom: 1px solid rgba(255,255,255,0.5);padding-top: 1.5em;}
	.fbox.widget_nav_menu:first-child {border-top: 1px solid rgba(255,255,255,0.5);}
	.copy-right-text {display: block;position: absolute;bottom: 0;}
	#services {padding-bottom: 0;}
	#what-makes-us-different .panel-content {padding: 30px 0 0;}
	.image_left_review {width: 100%;margin-right: 0;}
	.left {
		margin-right: 0%;
		width: 100%;
	}
	.gray-area {
		width: 100%;
	}
	.course-banner {
		padding-top: 15px;
	}
	.course-banner {
		padding-top: 15px;
		min-height: inherit;
	}
	.header-overlap a {
		margin-top: 24px;
	}
	.header-overlap.course-banner h1 {
		font-size: 35px;
		line-height: 35px;
	}
	.header-overlap.course-banner .featured-banner img {
		display: block;
	}
	.pbox.cpr.most_popular_inner .item .mpc_left {
		width: 100% !important;
		border-right: none;
		border-bottom: 1px solid #ccc;
		padding-right: 0px;
		padding-bottom: 10px;
		padding-left: 0 !important;
		padding-top: 30px !important;
	}
	.pbox.cpr.most_popular_inner .mpc_left h4 {
		width: 100%;
		min-height: inherit;
	}
	.pbox.cpr.most_popular_inner .item .mpc_center:last-child {
		width: 100%;
	}
	.what_learn .float-50,
	.what_learn .float-35 {
		width: 100%;
		padding-left:40px;
	}
	.gen_blk h2 {
		font-size: 31px;
		line-height: 35px;
	}
	.why_choose .cnt_left {
		width: 100%;
	}
	.why_choose .img_right {
		width: 100%;
		position: inherit;
		margin-top: 20px;
	}
	.what_learn h2 {
		font-size: 30px;
		line-height: 35px;
	}

	.site-content {
		padding: 0;
	}

	.page-id-4582 .banner-content, .page-template-page-speciality .banner-content, .page-template-page_security .banner-content {
	    height: 100%;
	}
	.rraccordion_area_col{width: 46%;margin: 0 2%;}
	.make_box{min-height: 180px;}
	.site-branding{height: 60px;}
	.frontpage .make_box{min-height: 190px;}
	.course-pages .most_popular_inner .mpc_left,.course-pages .most_popular_inner .mpc_right{float: none;width: 100%;}
	.course-pages .most_popular_inner .item{width: 48%;}
	.course-pages .most_popular_inner .mpc_left{border-right: none;}
	.course-pages .most_popular_inner .mpc_right{padding-left:0;}
	.course-pages .most_popular_inner .item:first-child .mpc_right{padding-top:0;}
	.mpc_right ul{padding-top:30px;}
	.mpc_left h4{margin: 0 0 20px;}
	.most_popular_inner .item h4{min-height:90px;}
	.most_popular_inner .mpc_right{min-height: 325px;}
	.banner-content {bottom: 70px;}
	.cstm_content .section6{padding:0;}
	.rr_acc_left{float: none;width: 100%;text-align:center;}
	.rr_acc_right{width:100%;padding-top: 15px;}
	.tl-content h2{margin-top: 10px;}
	.real_trainers .ats-button{top: -24px;}
	.real_trainers .slick-prev{right: 50px;}
	.real_trainers .slick-next{right: 20px;}
	.navigation-mobile .main-navigation ul ul.sub-menu{left:0;}
	#menu-social-links-menu{bottom:18px;}
	.page-template-booking .logo-sec{width: 75%;}
	.page-template-booking .header-right{width:18%}
	.page-template-booking .nav-menu > li > a{
		padding: 3px 0px 0;font-size: 15px;text-align: center;}
	.page-template-booking .header-overlap{min-height: 110px}
	#rfa_booking_form #form_area{min-height: 453px;}
	.contact_form_sub_title{margin: 0 0 10px;}
	.Contact_booking_form .form_box,.contact_form_sub_title{width: 100%;}
	.form_box > h2, .Contact_booking_form .form_box .form_container{padding: 10px 4%;}
	.Contact_booking_form .form_box{margin-left: 0;}
	.Contact_booking_form .form_box{margin-bottom:0;}
	.Contact_booking_form .form_box.form_right .form_box > h2{margin: 0 4%;}
	.wooco-main{margin-top: 40px;}
	.woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product{
		width: calc(50% - 20px);
		margin: 0 10px 20px 10px;
	}
	.menu-mobile-menu-container .icon.icon-close{right: 16px;top: 8px;font-size: 32px;}
	.js .navigation-mobile .dropdown-toggle{font-size: 32px;}
	.sub-menu li a{font-size:12px;}
	.menu .menu-item-has-children.submenu-open > a{font-weight:bold;}
	.dropdown-toggle{padding: 0 16px;}
	.custom-overlay .close-menu{display:none;}
	.js .navigation-mobile .toggled-on .menu-mobile-menu-container{
		right:-200px;
		opacity: 0;
		transition: all .2s ease-out .2s;
		width:0;
	}
	.js .navigation-mobile .toggled-on .menu-mobile-menu-container.open{
		width:100%;
		opacity:1;
		right:0;
	}
	.gb_r {top: 15px;}
	.group_b_icon {max-width: 250px;margin: 0 0 30px;width: auto;}
	.gb_l {padding-right: 0;}
	.page-id-4582 .book_now:after {height: 46px;}
	.page-id-4582 .book_now {font-size: 26px;font-weight: 400;line-height: 100%;padding: 10px 20px;}

}

/* For 540 or Up to 639 */

@media only screen and (max-width:639px){

	.banner_content {top: 190px;}

	.banner_content h1 {font-size: 30px;line-height: 42px;}
	#what-makes-us-different .panel-image.pimage_left img {height: 750px;}
	
	.header-overlap h1 {
		font-size: 24px;
		line-height: 30px;
	}
	.header-overlap h6 {
		font-size: 19px;
		margin: 0 0 25px;
	}
	#how_slider .item h2 {
		font-size: 21px;
	}
	#how_slider .item .hover_layer {
		padding: 46px 30px 0;
	}
	.tlist-right .tlist {
		width: 100%;
	}
	.tlist-right .tlist:first-child{margin-bottom:30px;}
	.tlist-right .tlist h3 {
		margin-bottom: 10px;
	}
	.coursebox {
		width: 100%;
		margin-left: 0;
	}
	.rrspec_how_do .section4-image img,.page-template-booking .col-4{width: 100%;margin: 0;}
	.client_section .client-box .client-boxs{width:50%;}
	.size-medium.wp-image-163.rrvirtual{margin: 42px !important;}
	.course-pages .most_popular_inner .item{padding: 30px 25px;}
	.most_popular_courses1 .item h4{min-height: 100px;}
	.most_popular_courses1 .item .item_cnt{min-height: 250px;}
	.page-template-page_tecc .section2{padding-top:0;}
	.header-overlap{min-height: 190px;}
	.js .admin-bar .navigation-mobile .toggled-on .menu-mobile-menu-container{top:0;}
	.page-template-booking .col-8{width: 100%;}
	#rfa_booking_form #form_area .form{overflow:hidden;}
	.page-template-booking .logo-sec::after,.page-template-booking .logo-sec{width: 70%;}
	.page-template-booking .header-right{width: 25%;}
	.header-overlap h1 {font-size: 20px;line-height: 28px;}
}



/* For 480 or Up to 539 */

@media only screen and (max-width:539px){
	#what-makes-us-different .panel-image.pimage_left img {height: 800px;}
	
	.reason .right {width: 90%;}
	.rraccordion_area_col{width:100%;margin: 0;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area .warden-box,
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area h2{min-height: 35px;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area h4{min-height: 85px;}
	.rrspeciality_section .rrspeciality .rraccordion_area_box .rraccordion_area{min-height: 340px;}
	.client_section .client-box .client-boxs{width: 50%;}
	.header2{font-size:30px;}
	.most_popular_inner .mpc_right{min-height: 380px;}
	.most_popular_courses1 h3{font-size: 22px;}
	.most_popular_courses1 .item .item_cnt{min-height: 300px;}
	.course-pages .most_popular_inner .item{padding: 30px 15px;}
	.course-pages .most_popular_inner .items .item:first-child{margin-left:13px;} 
	.course-pages .most_popular_inner .item{width:46%;}
	.most_popular_inner .items{margin: 0;}
	.cprbox .coursebox{width: 100%;margin:0 0 5px;}
	#menu-social-links-menu{margin-top: 10px;text-align:left;}
	#wpadminbar{display:none;}
	.page-template-page-shop .general-template{padding:0;}
	.woocommerce .cart_bottom,.woo-checkout-button{margin-bottom: 35px;}
}



/* For 380 or Up to 479 */

@media only screen and (max-width:479px){

	.custom-logo-link img, body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {max-width: 140px;}

	#top_banner .panel-image-prop {padding-top: 150% !important;}
	#what-makes-us-different .panel-image.pimage_left img {height: 750px;}
	
	.featured-banner{height:330px;}
	.home .featured-banner {height: inherit;}
	.featured-banner img{
		height: 100%;
		width: auto;
		max-width: inherit;	
	}
	.most_popular_inner .item-inner {
		padding: 25px;
	}

	.mpc_80 ul {
		column-count: 1;
	}

	.most_popular_inner .mpc_left {
		border-right: none;
		float: none;
		padding-right: 0px;
		width: 100%;
		border-bottom:1px solid #777;
		padding-bottom:20px;
		margin-bottom:20px;
	}
	.most_popular_inner .mpc_right {
		float: none;
		width: 100%;
		padding-left: 0px;
		min-height: inherit;
		padding-bottom:30px;
	}
	.mpc_left h4 {
		min-height:inherit;
	}
	.section9 {
		padding: 0px 0;
	}
	.section9 .image_left_review {
		margin-top: 0;
	}
	
	.tlist-left h3 {
		font-size: 24px;
	}
	.left .reason .left {
	width: 20px;}
	.course-pages .most_popular_inner .items .item:first-child{margin-left:0;}
	.most_popular_courses1 .item, .additional_courses_inner .item,.course-pages .most_popular_inner .item{width:100%;margin: 0 0 3%;}
	.course-pages .most_popular_inner .item{min-height: 270px;}
	.most_popular_inner .item h4,.most_popular_courses1 .item h4{min-height: 60px;}
	.most_popular_courses1 .item .item_cnt{min-height:230px;}
	.mpc_left,.mpc_right, .mpc_left h3{text-align: center !important; }
	.item ul{text-align:left;}
	.most_popular_inner1 .header2{min-height: 48px;}
	.additional_courses_inner .item h2{margin-bottom: 20px;}
	.rrsecurity .most_popular_inner .mpc_right{min-height: 220px;}
	.booking-sec .featured-banner{height: 110px;}
	.page-template-booking .header-right{width: 30%;}
	.contact_popup,#cboxContent,#cboxLoadedContent,
	.shop_contact_popup,#cboxContent,#cboxLoadedContent{width: 350px !important;
		right: 0 !important;margin: 0 auto !important;}

	.cart-shop .widget_shopping_mini_cart{padding: 0 18px;}
	.dropdown-cart-button .dropdown.dropdown-right{right: -23px;}
	.woocommerce .shop_table .product-remove{text-align: right !important;}
	.woocommerce .button.checkout-button.wc-forward, .woocommerce #place_order{
		margin-top: 10px;
	}
	.page-template-page-shop .woocommerce-checkout #customer_details.col3-set .col-3-box{width:100%;}
}



/* For 360 or Up to 379 */

@media only screen and (max-width:379px){
	#what-makes-us-different .panel-image.pimage_left img {height: 850px;}
	.header-overlap h1 {
		font-size: 21px;
		line-height: 27px;
	}
	.header-overlap h6 {
		font-size: 15px;
		margin: 0 0 20px;
	}
	.page .panel-content .entry-title, .page-title, body.page:not(.realresponse-front-page) .entry-title {
		font-size: 24px;
	}
	.size-medium.wp-image-163.rrvirtual{margin: 10px !important;}
	.page-template-booking .site-branding,.page-template-booking .logo-sec::after{height: 82px;}
	.page-template-booking .site-branding .logo-sec img.custom-logo{max-width: 170px;margin-top: 6px;}
	.contact_popup, #cboxContent, #cboxLoadedContent,.shop_contact_popup,#cboxContent,#cboxLoadedContent{width: 330px !important;}
}



/* For 320 or Up to 359 */

@media only screen and (max-width:359px){

	.banner_content h1 {font-size: 20px;line-height: 32px;}
	#what-makes-us-different .panel-image.pimage_left img {height: 950px;}
	.real_trainers .slick-prev{right: 35px;}
	.real_trainers .slick-next{right: 5px;}
	.ginput_container.ginput_recaptcha > div{width: 276px !important;}
	.rrcontact .address a{width: 30px;}
	.contact_popup, #cboxContent, #cboxLoadedContent,.shop_contact_popup,#cboxContent,#cboxLoadedContent{width: 300px !important;}
	.woocommerce-page .enquire_btn_top.widget_text a{font-size:30px;}
	.cart-shop .widget_shopping_mini_cart{padding: 0 0px;}
	.dropdown-cart-button{padding: 0 0 0 30px;}
	.wooco-main .iframe4.red-button.shop_top{padding: 2px 16px 0;}
	.dropdown-cart-button .dropdown.dropdown-right{right: -6px;}
	.woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product{width:46%;}
	.pbox.cpr.most_popular_inner .item .mpc_center:last-child{padding:0;}
	.rrp0-sec iframe{min-height: 170px;width: 100%;height: 100%;}
	.menu-mobile-menu-container .icon.icon-close{right: 30px;}
	.dropdown-toggle{padding: 0 6px;}
}


@media (max-width: 780px) {
	body.admin-bar {
		padding-top: 60px;
	}

	.admin-bar .site-navigation-fixed {
		top: 46px;
	}
}

@media (max-width: 767px) {
	body.admin-bar .site-branding {
		top: 46px;
	}

	.navigation-mobile {
		right: 24px;
		top: -2px;
	}
}

@media (max-width: 1220px) {
	.ser_main .desc {
		min-height: 200px;
	}
}

@media (max-width: 1200px) {
	.most_popular_courses .most_popular_inner .item {
		width: 100%;
		min-height: 1px !important;
	}

	.ser_main .ser_box h2 {
		font-size: 22px;
		min-height: 1px !important;
	}
}

@media (max-width: 1023px) {
	.ser_main .desc {
		min-height: 10px;
	}
}

@media (max-width: 965px) {
	.ser_main .desc {
		min-height: 120px;
	}

	.most_popular_courses .most_popular_inner .mpc_right {
		min-height: 1px;
	}

	.specialised_courses .item, .additional_courses .item {
		width: 49%;
	}

	.specialised_courses .item:nth-of-type(2n), .additional_courses .item:nth-of-type(2n) {
		margin-right: 0;
	}

	.page-template-page_firstaidcources .item h3, .page-template-page_firstaidcources .additional_courses .item h3 {
		height: 60px;
		min-height: 60px;
	}

	.page-template-page_firstaidcources .item h4, .page-template-page_firstaidcources .additional_courses .item h4 {
		height: 48px;
		min-height: 48px;
	}
}

@media (max-width: 800px) {
	.woocommerce .cart_bottom {
		position: relative;
		height: 100px;
	}

	#zip-tagline {
		top: 60px;
	}
}

@media (max-width: 768px) {
	.woocommerce-checkout #customer_details.col3-set .col-1,
	.woocommerce-checkout #customer_details.col3-set .col-2,
	.woocommerce-checkout #customer_details.col3-set .col-3 {
		width: 100%;
	}

	.woocommerce-checkout #customer_details.col3-set .col-3 {
		position: initial;
		margin-left: 0;
	}

	.page-template-page_locations .on-site {
		height: 250px;
	}
}

@media (width: 768px) {
	.page-template-page_locations .city .w-50 {
		padding: 10px;
	}

	.page-template-page_locations .city .location {
		padding: 10px;
	}
}

@media (max-width: 767px) {
	.ser_main .desc {
		min-height: 10px;
	}


	.specialised_courses .item, .additional_courses .item {
		width: 100%;
		margin-right: 0;
	}

	.page-template-page_locations #maincontent .wrap .w-50 {
		width: 100%;
	}

	.page-template-page_locations .location-button {
		width: 130px;
	}

	.page-template-page_locations .on-site .wrap {
		background-size: 50%;
		background-position: bottom right;
	}

	.page-template-page_locations #maincontent h1 {
		font-size: 24px;
	}

	.page-template-page_locations #maincontent .on-site h1 {
		margin: 0;
	}

	.page-template-page_locations .city h2 {
		font-size: 20px;
		text-align: center;
		margin-left: 0;
	}
}

@media (max-width: 600px) {
	.page-template-Defibrillator .blocks .w-33 {
		width: 100%;
		margin-bottom: 32px
	}
	.page-template-Defibrillator .w-50 {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.group_b_icon {
		margin: 0 auto 30px;
	}

	body.woocommerce-page .title-bg .entry-title {
		margin-top: 0;
		margin-bottom: 100px;
	}

	body.woocommerce-page .auto-area #text-6 {
		text-align: center;
	}

	body.woocommerce-page .cart-shop .widget_shopping_mini_cart {
		margin: 0 40px;
		left: 0;
	}
}

@media (max-width: 411px) {
	.woocommerce .cart_bottom {
		position: relative;
		height: 110px;
	}

	#zip-tagline {
		top: 90px;
	}
}